Shall we omit classes that exist only for semantical purposes?

XML allows us to structure the semantics. JSON can do the same, but simplicity is often preferred for JSON. Therefore, can we omit these classes that exist for semantical purpose and furtureextension ?
a. Flow class (Defined in Section 3.16 of RFC7970)
b. ApplicationHeaderclass (defined in Section 3.20.2 of RFC7970)
c. SignatureDataclass (Defined in Section 3.27 of RFC7970)
d. IndicatorDataclass (Defined in Section 3.28 of RFC7970)
e. ObservableReferenceclass (Defined in Section 3.29.6 of RFC7970)
These classes have only one element or attribute.

Flow class is deleted, and classes with its instances now directly have instances of EventData class that used to belong to the Flow classs.
ApplicationHeader class is deleted, and classes with its instances now directly have instances of ApplicationHeaderField class that used to belong to the ApplicationHeader class.
SignatureData class is deleted, and classes with its instances now directly have instance of Signature class that used to belong to the SignatureData class.
IndicatorData class is deleted, and classes with its instances now directly have the instances of Indicator class that used to belong to the IndicatorData class.
ObservableReference class is deleted, and classes with its instances now directly have uid-ref as an element.
Record class is deleted, and classes with its instances now directly have the instances of RecordData class that used to belong to the Record class.